brotli==1.0.9
configparser==5.0.1
cryptography==3.2.1
Cython==0.29.32
dl==0.1.0
docutils==0.16
Flask==2.0.3
HTMLParser==0.0.2
importlib_metadata==2.1.1
jnius==1.1.0
keyring==21.5.0
lockfile==0.12.2
lxml==4.2.3
numpy==1.23.5
ordereddict==1.1
protobuf==4.21.10
pyOpenSSL==22.1.0
slackclient==2.9.4
slackeventsapi==3.0.1
tinydb==4.7.0
toml==0.10.2
tornado==6.1
typing_extensions==3.10.0.0
xmlrpclib==1.0.1
zipp==3.4.0
